@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/****************************************************************************/
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/*MENU*/

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.658);
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}


/*CAROUSEL*/

.carousel-inner{
    max-height: 39rem;
}


.carrusel{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}



/*CONTACTO*/

/*

#cuadrotexto{
    border: 10px solid black;
}
*/

/*MEDIAQUERY*/

/*ANCHA*/

/*MEDIANA*/

@media (max-width:768px){
    #titulo{
        width: 90% !important;
    }
}

/*PEQUEÑA*/

@media (max-width:576px){
    #formulario{
        width: 90% !important;
    }

    .tituloformulario{
        font-size: 2px;
    }
}



