@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/****************************************************************************/
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/*MENU*/

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
}


/*CAROUSEL*/

.carousel-inner{
    max-height: 39rem;
}


.carrusel{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}


.carta{
    display: flex;
    justify-content: center;
}


/*ANIMACIONES*/
.nav-link:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}


.card:hover{
    animation: imagenes 1s;
}


@keyframes imagenes{
    0%{

    }
    25%{
        scale: (5);
    }

    75%{ scale:(5);

    }

    99%{
        width: 310px;
    }
}


















/*CONTACTO*/

/*

#cuadrotexto{
    border: 10px solid black;
}
*/

/*MEDIAQUERY*/

/*ANCHA*/
@media (max-width:1200px){
    #titulo{
        width: 90% !important;
    }
}


/*MEDIANA*/

@media (max-width:768px){
    #titulo{
        width: 90% !important;
    }
}

/*PEQUEÑA*/

@media (max-width:576px){
    #formulario{
        width: 90% !important;
    }

    .tituloformulario{
        font-size: 2px;
    }
}



