.carrusel{
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 10%;
    max-width: 50%;
    max-height: 100%;

    .carousel-inner, .raimbow-box{
        max-height: 39rem;
        max-width: 100%;
            height: auto;
            border: 5px solid transparent;
            border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
            border-image-slice: 1;
            height: 100%px;
            margin: 10px auto;
            width: auto;
    }
}
