@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$fondobody: #fff;
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: $fondobody;
}
