@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: black; }

header {
  background-image: url(../img/navBAR.jpg);
  background-size: cover;
  height: 40vh; }

.navbar {
  background-color: black; }

.navbar-toggler-icon {
  background-color: #0d6efd; }

.img-fluid, .raimbow-box {
  max-width: 100%;
  height: auto;
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 100%px;
  margin: 10px auto;
  width: auto; }

/*MENU*/
.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center; }

#menu a {
  font-size: 19px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.801);
  /*text-shadow: 1px 1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, -1px -1px 0 blue;*/ }

#menu button {
  font-size: 18px;
  font-weight: bold;
  color: white; }

.sticky-top {
  position: sticky;
  top: none;
  z-index: 1030; }

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.5s; }

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; }

.carta {
  display: flex;
  justify-content: center; }
  .carta .card, .carta .raimbow-box {
    max-width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 100%px;
    margin: 10px auto;
    width: auto; }

.card:hover {
  animation: imagenes 1s; }

@keyframes imagenes {
  0% { }
  25% {
    scale: 5; }
  75% {
    scale: 5; }
  99% {
    width: 310px; } }

.carrusel {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%; }
  .carrusel .carousel-inner, .carrusel .raimbow-box {
    max-height: 39rem;
    max-width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 100%px;
    margin: 10px auto;
    width: auto; }

@media (max-width: 1200px) {
  #titulo {
    width: 90% !important; } }

/*MEDIANA*/
@media (max-width: 768px) {
  #titulo {
    width: 90% !important; } }

/*PEQUEÑA*/
@media (max-width: 576px) {
  #formulario {
    width: 90% !important; }
  .tituloformulario {
    font-size: 2px; } }

.bordeform, .raimbow-box {
  max-width: 100%;
  height: auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 100%px;
  margin: 10px auto;
  width: auto; }

.botonform {
  margin-top: 20px; }

.tituloformulario {
  color: white; }
