@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #fff; }

header {
  height: 100%; }
  header .navbar {
    background-color: black; }
    header .navbar .container-fluid {
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .navbar .container-fluid .navbar-toggler-icon {
        background-color: #0d6efd; }
      header .navbar .container-fluid .img-logo, header .navbar .container-fluid .raimbow-box {
        max-width: 100%;
        height: auto;
        background-color: #302244;
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #3120E0 50%, #000000 75%, #fd1892 100%);
        border-image-slice: 1;
        height: 100%px;
        margin: 10px auto;
        width: auto; }

#menu a {
  font-size: 19px;
  font-weight: bold;
  color: black; }

#menu button {
  font-size: 18px;
  font-weight: bold;
  color: black; }

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.5s; }

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; }

.carta {
  display: flex;
  justify-content: center; }
  .carta .card, .carta .raimbow-box {
    max-width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 100%px;
    margin: 10px auto;
    width: auto; }

@keyframes imagenes {
  0% { }
  25% {
    scale: 5; }
  75% {
    scale: 5; }
  99% {
    width: 310px; } }

.carrusel {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%; }
  .carrusel .carousel-inner, .carrusel .raimbow-box {
    max-height: 39rem;
    max-width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 100%px;
    margin: 10px auto;
    width: auto; }

/*GRANDE*/
@media (max-width: 1200px) {
  #titulo {
    width: 90% !important; } }

/*LARGA*/
@media (max-width: 992px) {
  #titulo {
    width: 90% !important; } }

/*MEDIANA*/
@media (max-width: 768px) {
  #titulo {
    width: 90% !important; } }

/*PEQUEÑA*/
@media (max-width: 576px) {
  #formulario {
    width: 90% !important; }
  .tituloformulario {
    font-size: 2px; } }

.bordeform, .raimbow-box {
  max-width: 90%;
  height: auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 100%px;
  margin: 10px auto;
  width: auto;
  margin-bottom: 60px; }

.botonform {
  margin-top: 20px; }

.tituloformulario {
  color: white; }
