@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #fff; }

header {
  height: 100%; }
  header .navbar {
    background-color: black; }
    header .navbar .container-fluid {
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .navbar .container-fluid .navbar-toggler-icon {
        background-color: #0d6efd; }
      header .navbar .container-fluid .img-logo, header .navbar .container-fluid .raimbow-box {
        max-width: 100%;
        height: auto;
        background-color: #302244;
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #3120E0 50%, #000000 75%, #fd1892 100%);
        border-image-slice: 1;
        height: 100%px;
        margin: 10px auto;
        width: auto; }

#menu a {
  font-size: 19px;
  font-weight: bold;
  color: black; }

#menu button {
  font-size: 18px;
  font-weight: bold;
  color: black; }

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.5s; }

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; }

.carta {
  display: flex;
  justify-content: center; }
  .carta .card, .carta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px auto;
  width: 500px;
  height: 90%;
  background: white;
  border-radius: 75px;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.row{
  --bs-gutter-x: 0.1rem;
}

.btn{
  background-color: #0d6efd;
}

.card-img-top{
  border-radius: 75px;
}


/*ANIMACIÓN*/
.carta:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.carta:hover::before, .carta:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 100%;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.carta:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

@keyframes imagenes {
  0% { }
  25% {
    scale: 5; }
  75% {
    scale: 5; }
  99% {
    width: 310px; } }

.carrusel {
  margin-top: 3%;
  margin-left: 25%;
  margin-right: 10%;
  max-width: 50%;
  max-height: 100%; }
  .carrusel .carousel-inner, .carrusel .raimbow-box {
    max-height: 39rem;
    max-width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 100%;
    margin: 10px auto;
    width: auto; }

/*GRANDE*/
@media (max-width: 1200px) {
  #titulo {
    width: 90% !important; } }

/*LARGA*/
@media (max-width: 992px) {
  #titulo {
    width: 90% !important; } }

/*MEDIANA*/
@media (max-width: 768px) {
  #titulo {
    width: 90% !important; } }

/*PEQUEÑA*/
@media (max-width: 576px) {
  #formulario {
    width: 90% !important; }
  .tituloformulario {
    font-size: 2px; } }

.bordeform, .raimbow-box {
  max-width: 90%;
  height: auto;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 100%px;
  margin: 10px auto;
  width: auto;
  margin-bottom: 60px; }

.botonform {
  margin-top: 20px; }

.tituloformulario {
  color: white; }

  body{
    margin:0;
    padding:0;
  }

