header{
    height: 100%;

    .navbar{
        background-color: black;

        .container-fluid{
            display: flex;
            flex-direction: row;
            align-items: center;

            .navbar-toggler-icon{
                background-color: #0d6efd;
            }

            .img-logo, .raimbow-box{
                max-width: 100%;
                height: auto;
                background-color: #302244;
                border: 5px solid transparent;
                border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #3120E0 50%, #000000 75%, #fd1892 100%);
                border-image-slice: 1;
                height: 100%px;
                margin: 10px auto;
                width: auto;
            }
        }
    }
}

#menu a{
    font-size: 19px;
    font-weight: bold;
    color: black;
}

#menu button{
    font-size: 18px;
    font-weight: bold;
    color: black;
}


.nav-link:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
