header{
    height: 65vh;

    .navbar{
        background-color: black;

        .container-fluid{
            display: flex;
            flex-direction: column;
            align-items: center;

            .navbar-toggler-icon{
                background-color: #0d6efd;
            }

            .img-logo, .raimbow-box{
                max-width: 100%;
                height: auto;
                background-color: #302244;
                border: 5px solid transparent;
                border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
                border-image-slice: 1;
                height: 100%px;
                margin: 10px auto;
                width: auto;
            }
        }
    }
}


#menu a{
    font-size: 19px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.801);
    /*text-shadow: 1px 1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, -1px -1px 0 blue;*/
}

#menu button{
    font-size: 18px;
    font-weight: bold;
    color: white;
}



.sticky-top{
    position: sticky;
    top: none;
    z-index: 1030;
}

.nav-link:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
